body {
  font-family: "MV Boli";
  background-color: #143D60;
}

#gameContainer {
  text-align: center;
}

#gameBoard {
  border: 3px solid #ffffff;
}

#scoreText {
  font-size: 50px;
  color: #ffffff;
  margin: 10px;
}

#resetBtn {
  font-size: 25px;
  width: 200px;
  height: 50px;
  border: 1px solid #ffffff;
  background-color: #27667B;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

#resetBtn:hover {
  background-color: #3085a2;
}

#resetBtn:active {
  background-color: #27667B;
}
